.payment_header{
    padding: 20px;
    text-align: center;
    font-size:24px ;
    background-color: rgb(234,237,237);
}

.payment{
    padding: 30px;
}

.flex{
    display: flex;
    gap: 20px;
    padding: 30px;
}

.flex h3{
    min-width: 300px;
}

.flex img{
    width: 80px !important;
}

.flex div{
    height: auto !important;
}

.payment_card_container{
    max-width: 400px;
    width: 100%;
    border: 1px;
}

.payment_card_form_container{
    /* background-color: aliceblue; */
      background-color: rgb(234,237,237);
    width: 100%;
    border: 1px dodgerblue;
}

.payment_details{
 text-align: left;

}

.payment_price{
    padding: 20px;

}

.payment_price> div{
    display: flex;
    font-size: 16px;
    gap: 10px;
    padding: 5px;
    text-align: center;
}

.payment_details button{
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}

.loading{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: center;
    color:rgb(52,52,52);
}

.payment_details button:hover{
    background-color: var(--primary-shade);
}

@media  screen and  (max-width:768px) {
    .flex{
        flex-direction:column
    }
    
}